.container{
  /* Horizonral Justification */
  display: flex;
  justify-content: center;

  /* Vertical alingnement */
  min-height: 100vh;
  align-items: center;""
}

#circle{
  background-color: green;
  width:100px;
  height:100px;
  border-radius: 50%;
  position: absolute;
  left: 10px;
}


.btn-group{
  position: relative;
}

.btn{
  position: absolute;
}

.left-btn{
  left: 3em;
}

.right-btn{
  left: 5em;
}

.up-btn{
  bottom: 2.5em;
  left: 0.4em;
}

.down-btn{
  left: -1.8em;
  top: 2.5em;
}