.post_container{
    margin: auto;
    width: 60%;
}

/*Exept from first post*/
.post + .post{
    margin-top: 100px;
} /*I could use the margine bottom too*/

/*Direct child of post element*/
.post > .title{
    text-align: left;
}
